<div class="header">
	<div class="card-content">
		<div class="title">
			<i class="icon green-background material-icons md-white">home</i>
			<div class="text">Jeedom</div>
			<i class="icon material-icons badge no-margin-right hover-link">settings</i>
		</div>
	</div>
</div>

<div class="card">
	<div class="card-content">
		<div class="title"> 
			<i class="icon green-background material-icons md-white">tv</i>
			<div class="text">Salon</div>
		</div>

		<div class="body row">
			<div class="text-value">
				25.1 °C
			</div>
		</div>
		<div class="body row">
			<div class="text-center">
				Température actuelle
			</div>
		</div>
	</div>	
</div>

<div class="card">
	<div class="card-content">
		<div class="title"> 
			<i class="icon green-background material-icons md-white">people</i>
			<div class="text">Présence</div>
		</div>

		<div class="body row">
			<div class="text-value"> 
				<i class="material-icons">group</i>
			</div>
		</div>
		<div class="body row">
			<div class="text-center">
				Thierry et Bob
			</div>
		</div>
	</div>	
</div>

<div class="card">
	<div class="card-content">
		<div class="title"> 
			<i class="icon green-background material-icons md-white">nature_people</i>
			<div class="text">Météo</div>
		</div>

		<div class="body row">
			<div class="text-value"> 
				<i class="material-icons">wb_sunny</i>
			</div>
		</div>
		<div class="body row">
			<div class="text-center">
				Ensoleillé
			</div>
		</div>
	</div>	
</div>

<div class="card">
	<div class="card-content">
		<div class="title"> 
			<i class="icon green-background material-icons md-white">home</i>
			<div class="text">Maison</div>
		</div>

		<div class="body row">
			<div class="text-value"> 
				3 <i class="material-icons">notifications_active</i>
			</div>
		</div>
		<div class="body row">
			<div class="text-center">
				Notifications
			</div>
		</div>
	</div>	
</div>
